<game-menu *ngIf="quiz.gameState === QuizState.MENU"></game-menu>

<div *ngIf="quiz.gameState === QuizState.PLAYING" class="row">
  <div  class="col-md-2 gameInfo">
    <p class="score" style="position: relative">Score: {{quiz.score}} <span class="addScore" id="addToScore" #addToScore></span></p>
    <p class="timer">Temps: {{quiz.timer | date:'mm:ss'}}</p>
  </div>
  <div class="col-md-10">
    <ng-container id="questionContainer" #questionContainer></ng-container>
  </div>
</div>

<div *ngIf="quiz.gameState === QuizState.END" #endgame>
  <h1 class="text-center">Partie terminée</h1>
  <div class="text-center">
    <p>
      Score final: {{quiz.score}}, Temps: {{quiz.timer| date:'mm:ss'}}
    </p>
   <button class="btn btn-wow" (click)="replay()">Rejouer</button>
   <button class="btn btn-wow" routerLink="/games">Changer de jeu</button>
  </div>
</div>
