.categoryGroup input{
  display: none;
}
.categoryGroup input:checked+label{
  background: linear-gradient(0.25turn, #47ff11, #0b6807);
}
.categoryGroup label{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 11px 20px;

  width: 100%;
  min-height: 70px;
  text-transform: uppercase;
  color: #fff;

  background: hsla(0,0%,9%,.7);
  border-radius: 500px;
  box-shadow: inset 0 0 0 2px #a0a0a0;
  color: white;
  transition: 2s;
  cursor: pointer;

}


select, select:focus, input, input:focus{
  border: none;
  color: white;
  border-bottom: 1px solid grey;
  border-radius: 0;
  background-color: black;
  min-height: 40px;
}
.ng-valid[required]  {
  border-color: #42A948; /* green */
}

.ng-invalid.ng-touched:not(form), .border-red  {
  border-color: #a94442; /* green */
}
