<div class="row gameDashboard" style="">

  <div [@game] class="col-lg-4 col-md-6">
    <a routerLink="/quiz">
      <img src="assets/games/quiz.jpg" alt="Quiz" class="">
    </a>
  </div>
  <div [@game] class="col-lg-4 col-md-6">
    <a routerLink="/calcul">
      <img src="assets/games/calcul.jpg" alt="Calcul Mental" class="img-fluid">
    </a>
  </div>
  <div [@game] class="col-lg-4 col-md-6">
    <img src="assets/games/wow.jpg" alt="WOW" class="">
  </div>
  <div [@game] class="col-lg-4 col-md-6">
    <img src="assets/games/Crash-Bandicoot.jpg" alt="CrashBandicoot" class="">
  </div>

</div>
