<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="text-center">
      <span class="operand">{{equation.operandLeft}}</span>
      <span class="operator" [innerHtml]="equation | operator"></span>
      <span class="operand">{{equation.operandRight}} =</span>

    </div>
    <div class="form">
      <div class="floating-placeholder">
        <input id="result" (keydown)="verifyKey($event)" [(ngModel)]="response" type="text" class=" inputResponse">
        <label class="labelResponse" for="result">Votre réponse</label>
      </div>
      <button class="btn-wow" (click)="onResponse()">Valider</button>
    </div>
  </div>

</div>
<div class="ropeContainer">
  <div class="rope"
       [style.backgroundColor]="(game.gameTimer / game.TIMER_MAX)*100 > 33 ? '#5a602a' : 'red'"
       [style.width]="(game.gameTimer / game.TIMER_MAX)*100+ '%'" ></div>
</div>
<p>{{equation.result}}</p>
