.operand {
  font-size: 5em;
  margin: 0 10px;
}

.operator {
  font-size: 3em;
}
.floating-placeholder{
  position: relative;
  min-height: 100px;
}
.inputResponse {
  border: none;
  display: block;
  padding: 5px;
  color: white;
  margin: 20px 0;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  background:transparent;
  z-index:2;
  border-bottom:1px solid #ccc;
  text-indent: 10px;
  line-height:3.4em;
}

.labelResponse{
  display:block;
  position: absolute;
  top: 50%;
  left: 10px;
  transition-duration: 1s;
  font-size: 20px;
}
.inputResponse:focus+.labelResponse{
  transform: scale(0.55, 0.55);
  left: 0;
  top: 0;
  color: #f5d00e;

}
.inputResponse:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}
.form{
  width: 200px;
  margin: auto;
}

.rope{
  margin-top: 50px;
  height: 2px;
  border-radius: .25rem;
}
.ropeContainer{
  width: 750px;
  margin: auto;
}
