/* You can add global styles to this file, and also import other style files */


input:focus{
  border-left: 5px solid #bfdaef!important;
}
body{
  color: white;
}
.btn-wow{
  background-color: #650303;
  color: #f5d00e;
  border: none;
  border-radius: .25rem;
  padding: 10px 30px;
  cursor: pointer;
}
