<div class="d-flex flex-column align-items-center homeContainer">

  <h1 class="p-2">Bienvenue sur ma plateforme de jeux</h1>
  <p class="welcomeText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab ad aspernatur aut, dolorem doloremque harum inventore maxime molestiae officia perspiciatis, praesentium provident quae quam quod repellat rerum similique voluptas?</p>
  <p>Entrée autorisée pour les visiteurs jusqu'à nouvel ordre </p>
  <button class="btn btn-wow btn-lg" routerLink="/games">Commencer à jouer</button>

</div>
